<!--
<div class="weui-tabbar">
    <a href="/wechatFront/wechatVote/init" class="weui-tabbar__item">
        <img src="/static/images/weui/icon_vote.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label"  style="<%=active==1?'color:#1296db':''%>">投票</p>
    </a>
    <a href="/wechatFront/wechatActivity/init" class="weui-tabbar__item">
        <img src="/static/images/weui/icon_activity.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label"  style="<%=active==2?'color:#39bf15':''%>">活动</p>
    </a>
    <a id="venuesVisitUrl" href="javascript:;" class="weui-tabbar__item">
        <img src="/static/images/weui/icon_note.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label" style="<%=active==3?'color:#d9800c':''%>" >场馆介绍</p>
    </a>
    <a href="/wechatFront/wechatMatrixes/init" class="weui-tabbar__item">
        <img src="/static/images/weui/icon_matrixes.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label"  style="<%=active==4?'color:#ccc61a':''%>">微信矩阵</p>
    </a>
</div>-->
