<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">

</head>


<body>

<header class="wechat-header">
    <h1>商户绑定</h1>
</header>

<div class="wechat-content">
    <form id="form" action="/wechat/merchant/home/login" method="post">
        <input type="hidden" id="id" name="id" value="<%=id%>">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">商户账户</label></div>
                <div class="weui-cell__bd">
                    <input id="account" class="weui-input" type="text" placeholder="请输入账户（手机号）" />
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">登陆密码</label></div>
                <div class="weui-cell__bd">
                    <input id="password" class="weui-input" type="text" placeholder="输入密码" />
                </div>
            </div>
        </div>
        <div class="weui-cells__title">
            您即将绑定商户账号至您的微信号，绑定后您可以快速登陆商户后台，一个商户账号可以绑定多个微信，若没有商户号，请
            <a href="/wechat/merchant/home/toRegister?wechatUserId=<%=id%>" style="color: #1296db;">注册商户号</a>
            <!--若忘记密码，请<a href="/wechat/merchant/home/toFindpwd?wechatUserId=<%=id%>" style="color: #1296db;">找回密码</a>-->
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确认绑定</a>
        </div>

    </form>
</div>



</body>
<%- include('../public/public_js') %>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@2.1.2/dist/qiniu.min.js"></script>
<script type="text/javascript" src="//unpkg.com/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="/static/javascripts/md5.js"></script>
<script>


    $(document).ready(function () {
        $("#showTooltips").on("click",function(){
            if(check()){
                $.ajax({
                    url:"/wechat/merchant/home/binding",
                    type:"post",
                    data:{
                        wechatUserId:$("#id").val(),
                        username:$("#account").val(),
                        password:hex_md5($("#password").val())
                    },
                    success:function(data){
                        if(data.code == 0 || data.code == '0'){
                            $.alert("绑定成功！", "商户绑定", function() {
                                location.href="/wechat/merchant/home/init?wechatUserId="+$("#id").val()
                            });

                        }
                        else{
                            $.toptip(data.msg, 'error');
                        }
                    },
                    error:function(e){
                        alert("操作失败!"+JSON.stringify(e));
                    }
                });
            }
        })
    });




    function check(){
        var account = $("#account").val();
        var password = $("#password").val();
        if(null == account || account == '' || account.length != 11){
            $.toptip("请输入正确的账号！", 'error');
            return false;
        }
        if(null == password || password == '' || password.length != 6){
            $.toptip("请输入6位密码！", 'error');
            return false;
        }

        return true;
    }

</script>
</html>