<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">

</head>


<body>

<header class="wechat-header">
    <h1>登陆</h1>
</header>

<div class="wechat-content">
    <form id="form" action="/wechat/merchant/home/login" method="post">
        <input type="hidden" id="id" name="id" value="<%=id%>">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">登陆密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="password" name="password" type="password" value="" placeholder="请输入6位登陆密码" />
                </div>
            </div>

        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
        </div>
        <div class="weui-cells__title" style="text-align: center">
            <a href="/wechat/merchant/home/toFindpwd?wechatUserId=<%=id%>" style="color: #1296db;">找回密码</a>
        </div>

    </form>
</div>



</body>
<%- include('../public/public_js') %>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@2.1.2/dist/qiniu.min.js"></script>
<script type="text/javascript" src="//unpkg.com/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="/static/javascripts/md5.js"></script>
<script>


    $(document).ready(function () {
        var id = '<%=id%>';
        if(null == id || '' == id){
            var wechatUserInfo = getGlobalAttribute("wechatUserInfo");
            $("#id").val(wechatUserInfo.id);
        }
        $("#showTooltips").on("click",function(){
            if(check()){
                //$("#form").submit()
                $.ajax({
                    url:"/wechat/merchant/home/login",
                    type:"post",
                    data:{
                        id:$("#id").val(),
                        password:hex_md5($("#password").val())
                    },
                    success:function(data){
                        if(data.code == 0 || data.code == '0'){
                            setGlobalAttribute("wechatUserInfo",data.wechatUserInfo)
                            location.href="/wechat/merchant/home/main"
                        }
                        else{
                            $.toptip(data.msg, 'error');
                        }
                    },
                    error:function(e){
                        alert("操作失败!"+JSON.stringify(e));
                    }
                });
            }
        })
    });




    function check(){
        var password = $("#password").val();
        if(null == password || password == '' || password.length != 6){
            $.toptip("请输入6位密码！", 'error');
            return false;
        }

        return true;
    }

</script>
</html>