<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/weui/wechat.css">
    <style type="text/css">
        .weui-tab{
            position:inherit
        }
        .weui-tabbar{
            background: #fff;
        }
        .merchant_title{
            width:100%;
            /*height: 150px;*/
            height: auto ;
            background: #fff;
            text-align: center;
        }
        .merchant_title img{
            margin-top: 20px;
            width: 70px;
            border-radius: 100%;
        }
        .merchant_title p.name{
            margin-top: 20px;
            font-weight: bold;
            color: #444444;
        }
        .merchant_title p.account{
            font-size: 12px;
            color: #999;
            margin-bottom: 20px;
        }

        .weui-grids{
            background: #fff;
        }


        .grey-area{
            background: #fafafa;
            width: 100%;
            height: 20px;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
        }

        .grids-title{
            color: #666;
            background: #fff;
            height: 40px;
            font-size: 14px;
            padding-left: 10px;
            font-weight: bold;
            line-height: 40px;
        }
        .grids-title img{
            margin-top: 10px;
            width: 20px;
            float: left;
        }
        .grids-title div{
            margin-left: 10px;
            float: left;
        }
        .weui-grid:after, .weui-grid:before{
            right: auto;
            bottom: auto;
            content: none;
        }
        body{
            background: #fafafa;
        }
        .weui-grid__icon+.weui-grid__label{
            font-size: 13px;
        }
        .validateCode-header{
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: bold;
            text-indent: 16px;
            color: #666;
            background: #fff;
        }
    </style>


</head>


<body>
<header class="wechat-header">
    <h1>商户首页</h1>
</header>

<div class="wechat-content">
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="merchant_title">
                <!--<img id="headImg" src="" />-->
                <p id="nickname" class="name"></p>
                <p id="bindingUser" class="account"></p>
            </div>
            <div class="grey-area"></div>
            <div class="grids-title">
                <img src="/static/images/icon/icon-sofa.png" />
                <div>家具收售</div>
            </div>
            <div class="weui-grids">
                <a id="salePublish" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">发布家具</p>
                </a>

                <a id="furnitureRecycle" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-recycle.png" alt="">
                    </div>
                    <p class="weui-grid__label">收购家具</p>
                </a>
                <a id="myPublish" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-my_publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">我的发布</p>
                </a>
            </div>

            <div class="grey-area"></div>
            <div class="grids-title">
                <img src="/static/images/icon/icon-sofa.png" />
                <div>收售记账</div>
            </div>
            <div class="weui-grids">
                <a id="saleAccount" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">出售记账</p>
                </a>

                <a id="spendAccount" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-recycle.png" alt="">
                    </div>
                    <p class="weui-grid__label">支出记账</p>
                </a>
                <a id="accountRecord" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-my_publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">记账记录</p>
                </a>
                <a id="333" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-my_publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">账单报表</p>
                </a>
                <a id="needGathering" href="javascript:void(0);" class="weui-grid">
                    <span id="needGatheringBadge" class="weui-badge" style="position: absolute;top: .2em;right: 2em;display: none"></span>
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-my_publish.png" alt="">
                    </div>
                    <p class="weui-grid__label">待收尾款</p>
                </a>
            </div>


            <div class="grey-area"></div>
            <div class="grids-title">
                <img src="/static/images/icon/icon-merchant.png" />
                <div>商户管理</div>
            </div>
            <div class="weui-grids">
                <a id="merchantInfoUpd" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-change.png" alt="">
                    </div>
                    <p class="weui-grid__label">商户认证</p>
                </a>
                <a id="changePhone" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-phone.png" alt="">
                    </div>
                    <p class="weui-grid__label">更换手机号</p>
                </a>

                <a id="unBinding" href="javascript:void(0);" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-password.png" alt="">
                    </div>
                    <p class="weui-grid__label">解除绑定</p>
                </a>
            </div>

            <div class="grey-area"></div>
            <div class="grids-title">
                <img src="/static/images/icon/icon-more.png" />
                <div>更多功能</div>
            </div>
            <div class="weui-grids">
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-talk.png" alt="">
                    </div>
                    <p class="weui-grid__label">我要吐槽</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="/static/images/icon/icon-more_dot.png" alt="">
                    </div>
                    <p class="weui-grid__label">敬请期待...</p>
                </a>

            </div>


        </div>

        <!--<div class="weui-tabbar">
            <a id="main" href="javascript:;" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/static/images/icon/icon-main.png" alt="">
                </div>
                <p class="weui-tabbar__label" style="color: #1296db;">首页</p>
            </a>
            <a id="recycle" href="javascript:;" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/static/images/icon/icon-recyle-o.png" alt="">
                </div>
                <p class="weui-tabbar__label">旧家具回收</p>
            </a>
            <a id="merchant" href="javascript:;" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/static/images/icon/icon-store-o.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的商户</p>
            </a>
        </div>-->
    </div>
</div>

<div id="validateCodePopup" class="weui-popup__container popup-bottom">
    <input type="hidden" id="smsToPage" >
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal" style="background: #fff">
        <div class="validateCode-header">
            请进行短信验证
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_vcode">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input id="phone" class="weui-input" readonly type="tel" placeholder="请输入手机号">
                </div>
                <div class="weui-cell__ft">
                    <button id="sendSMS" class="weui-vcode-btn textbtncolor">获取验证码</button>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                <div class="weui-cell__bd">
                    <input id="validateCode" class="weui-input" type="text" placeholder="输入验证码" />
                </div>
            </div>

        </div>

        <div class="weui-btn-area">
            <a class="weui-btn btncolor" href="javascript:" id="submitCheck">确认</a>
        </div>
    </div>
</div>

</body>
<%- include('../public/public_js') %>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@2.1.2/dist/qiniu.min.js"></script>
<script type="text/javascript" src="//unpkg.com/crypto-js/crypto-js.js"></script>
<script>


    var accessToken, adminUserId,wechatUserId;
    $(document).ready(function () {
        $("#submitCheck").on("click",function(){
            semdSms();
        });

        checkIsCertification();
    });

    //检验账户是否验证
    function checkIsCertification(){
        var wechatUserInfo = getGlobalAttribute("wechatUserInfo");
        adminUserId = wechatUserInfo.merchantAdminId;
        wechatUserId = wechatUserInfo.id;
        $("#headImg").attr("src",wechatUserInfo.headImgUrl);
        $("#nickname").html(wechatUserInfo.nickName);
        $("#bindingUser").html("当前绑定账号："+wechatUserInfo.adminUsername);

        $("#phone").val(wechatUserInfo.adminUsername);
        merchantBaseAjax({
            url:"/wechat/merchant/certification/checkIsCertification",
            type:"get",
            data:{
                adminId:wechatUserInfo.merchantAdminId
            },
            success:function(data){
                onLoginHandle();
                //$("#merchantInfoUpd").attr("href",'/wechat/merchant/certification/edit?adminId='+wechatUserInfo.merchantAdminId)
               //$("#merchantInfoUpd").attr("href",'/wechat/index/toSmsCheck?page=merchantInfoUpd')


                if(null == data.result || JSON.stringify(data.result) == '{}'){
                    $.alert("当前商户信息未认证，请前往认证页面进行认证！",'认证提示');
                }
                else{
                    //认证成功才能作的操作
                    if(data.result.auditState == '3' || data.result.auditState == 3){
                        authSuccessHandle()
                    }
                }
            },
        })
    }

    function onLoginHandle(){
        var wechatUserInfo = getGlobalAttribute("wechatUserInfo");
        $("#unBinding").on("click",function(){
            $.confirm({
                title: '确认解除微信与商户绑定？',
                text: '解除绑定之后，无法通过微信快速登陆商户账号',
                onOK: function () {
                    merchantBaseAjax({
                        url:"/wechat/merchant/home/unBinding",
                        type:"get",
                        data:{
                            id:wechatUserInfo.id
                        },
                        success:function(data){
                            if(data.code == 0 || data.code == '0'){
                                $.alert("解除绑定成功！", "解除绑定", function() {
                                    WeixinJSBridge.call('closeWindow');
                                });
                            }
                            else{
                                $.toptip(data.message, 'error');
                            }
                        },
                    })
                },
                onCancel: function () {
                }
            });
        })


        $("#changePhone").on('click',function(){
            //location.href = '/wechat/merchant/home/toChangePhone?wechatUserId='+wechatUserInfo.id;
            $("#smsToPage").val("changePhone");
            $("#validateCode").val("");
            $("#validateCodePopup").popup();
        })

        $("#merchantInfoUpd").on("click",function () {
            $("#smsToPage").val("merchantInfoUpd");
            $("#validateCode").val("");
            $("#validateCodePopup").popup();
        });

    }

    function authSuccessHandle() {
        $("#furnitureRecycle").on("click",function () {
            location.href = '/wechat/merchant/recycle/init';
        });
        $("#salePublish").on("click",function () {
            location.href = '/wechat/merchant/sale/edit';
        });
        $("#myPublish").on("click",function () {
            location.href = '/wechat/merchant/sale/toMyPublish';
        });
        $("#saleAccount").on("click",function(){
            location.href = '/wechat/merchant/account/sale';
        });
        $("#spendAccount").on("click",function(){
            location.href = '/wechat/merchant/account/spend';
        });
        $("#accountRecord").on("click",function(){
            location.href = '/wechat/merchant/account/toAccountRecordList';
        });
        $("#needGathering").on("click",function(){
            location.href = '/wechat/merchant/account/toNeedGathering';
        })

        getNeedGatheringCount();
    }


    function getNeedGatheringCount(){
        merchantBaseAjax({
            url:"/wechat/merchant/account/needGatheringCount",
            type:"get",
            data:{
                adminId:adminUserId,
                tradeType:'2',
                balanceIsFinish: '0'
            },
            success:function(data){
                if(data.code == 0 || data.code == '0'){
                    if(null != data.result && parseInt(data.result) > 0){
                        $("#needGatheringBadge").html(data.result);
                        $("#needGatheringBadge").show();
                    }
                    else{
                        $("#needGatheringBadge").hide();
                    }
                }
                else{
                    //$.toptip(data.message, 'error');
                    $("#needGatheringBadge").hide();
                }
            },
        })
    }


    function semdSms(){
        if(smsCheck()){
            noAuthBaseAjax({
                url:"/wechat/index/checkCode",
                type:"get",
                data:{
                    username:$("#phone").val(),
                    validateCode:$("#validateCode").val(),
                },
                success:function(){
                    var page = $("#smsToPage").val();
                    if(page == 'merchantInfoUpd'){
                        location.href = '/wechat/merchant/certification/edit?adminId='+adminUserId
                    }
                    else if(page == "changePhone"){
                        location.href = '/wechat/merchant/home/toChangePhone';
                    }
                },
                error:function(e){
                    alert("操作失败!"+JSON.stringify(e));
                }
            });
        }
    }

    function smsCheck(){

        var phone = $("#phone").val();
        var validateCode = $("#validateCode").val();
        if(null == phone || phone == '' || phone.length != 11){
            $.toptip("请输入正确的手机号！", 'error');
            return false;
        }
        if(null == validateCode || validateCode == ''){
            $.toptip("验证码不能为空！", 'error');
            return false;
        }

        return true;
    }


    $("#sendSMS").on("click",function(){
        var phone = $("#phone").val();
        if(null == phone || phone == '' || phone.length != 11){
            $.toptip("请输入正确的手机号！", 'error');
            return false;
        }

        var index = 60;
        $("#sendSMS").attr("disabled","disabled");
        $("#sendSMS").html(index+"秒后重发");
        var i = setInterval(function () {
            index --;
            if(index > 0){
                $("#sendSMS").attr("disabled","disabled");
                $("#sendSMS").html(index+"秒后重发");
            }
            else{
                $("#sendSMS").removeAttr("disabled");
                $("#sendSMS").html("重新发送");
                clearInterval(i)
            }
        },1000)

        merchantBaseAjax({
            url:"/wechat/index/smsCode",
            data:{
                phone:phone
            },
            type:"get",
            success:function(data){
                alert(data.result)
            },
        })

    })

</script>
</html>