<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>文章</title>
    <!-- 引入 WeUI -->
    <%- include('../public/public_css') %>


</head>
<body>

<%- include('../public/public_js') %>
<script>
    $(document).ready(function () {
        location.href = "https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5ODQwNjUzNw==&scene=124#wechat_redirect";
    });
</script>
</body>
</html>